<% content_for :title do %>Adam's House<% end %>

		<div class="gridster">
			<ul>
				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="clock" data-view="Clock"/>
				</li>

				<li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
					<div data-id="frontMainLight" data-view="Stdimmer" data-title="Front Room Light" data-device="Fromt room"/>
				</li>

				<li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
					<div data-id="frontdoorcontact" data-view="Stcontact" data-title="Front Door" data-device="Front Door"/>
				</li>

				<li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
					<div data-id="usmotion" data-view="Stmotion" data-title="Stairs" data-device="Stair Sensor"/>
				</li>

				<!-- NEW LINE -->

				<li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
					<div data-id="weather" data-view="Stweather"/>
				</li>

				<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
					<div data-id="presence1" data-view="Stpresence" data-title="Adam" data-device="Adam's iPhone"/>
				</li>

				<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
					<div data-id="presence2" data-view="Stpresence" data-title="Steve" data-device="Stephen Richmonds Android"/>
				</li>

				<li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
					<div data-id="upstairsTempt" data-view="Sttemp" data-title="Upstairs" data-device="Stair Sensor"/>
				</li>

				<li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
					<div data-id="reload" data-view="Reload"/>
				</li>

				<!-- NEW LINE -->

				<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
					<div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="30"/>
				</li>

				<li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
					<div data-id="nightmode" data-view="Stmodechange" data-title="WFH" data-icon="magic" data-changemode="Work From Home" data-phrase="Work From Home" data-countdown="10"/>
				</li>

				<li data-row="3" data-col="5" data-sizex="2" data-sizey="1">
					<div data-id="mode" data-view="Stmode" data-title="Current Mode"/>
				</li>

				<!-- NEW LINE -->
				
				<li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="cpage1" data-view="Changepage" data-icon="arrow-left" data-title="Lights" data-page="2" data-stagger="false" data-fasttransition="true"/>
				</li>
				
				 <li data-row="4" data-col="3" data-sizex="2" data-sizey="1">
					<div data-id="sofalamp" data-view="Stswitch" data-title="Smart Plug" data-device="Outlet"></div>
				</li>
				
				<li data-row="4" data-col="5" data-sizex="2" data-sizey="1">
					<div data-id="cpage1" data-view="Changepage" data-icon="arrow-right" data-title="Sensors" data-page="3" data-stagger="false" data-fasttransition="true"/>
				</li>
			</ul>
		</div>

		<!-- Lights -->
		<div class="gridster">
			<ul>
				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="text2" data-view="Text" data-text="Lights" />
				</li>
				<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
					<div data-id="cpage3" data-view="Changepage" data-icon="arrow-right" data-title="Back" data-page="1"/>
				</li>
				<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
					<div data-id="reload" data-view="Reload"/>
				</li>
				
				<!-- NEW LINE -->
				
				<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="frontMainLight2" data-view="Stdimmer" data-title="Front Room Light" data-device="Fromt room"/>
				</li>
				
				<li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
					<div data-id="frontSideLight" data-view="Stdimmer" data-title="Downstairs Side Light" data-device="Downstairs lamp"/>
				</li> 
				
				<!-- NEW LINE -->
				
				<li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="frontSideLight" data-view="Stdimmer" data-title="Adam's Room" data-device="Adams room"/>
				</li> 
				
				<li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
					<div data-id="adamMainLight" data-view="Stdimmer" data-title="Adam Bedside Lamp" data-device="Adam bedside lamp"/>
				</li> 
				
				<li data-row="3" data-col="5" data-sizex="2" data-sizey="1">
					<div data-id="frontMonitorLight" data-view="Stdimmer" data-title="Adam Monitor lights" data-device="Monitor lights"/>
				</li> 
				
				<!-- NEW LINE -->
				
				<li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="steveMainLight" data-view="Stdimmer" data-title="Steve's Room" data-device="Steve Main Light"/>
				</li> 
				
				<!-- NEW LINE -->
				
				<li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="dsLight" data-view="Stdimmer" data-title="Downstairs" data-device="Main Hall"/>
				</li> 
				
				<li data-row="5" data-col="3" data-sizex="2" data-sizey="1">
					<div data-id="upstairsLight" data-view="Stdimmer" data-title="Upstairs" data-device="Top Landing"/>
				</li> 
			</ul>
		</div>
		
		<!-- Sensors -->
		<div class="gridster">
			<ul>
				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="text2" data-view="Text" data-text="Sensors" />
				</li>
				<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
					<div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"/>
				</li>				
				<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
					<div data-id="reload" data-view="Reload"/>
				</li>
				
				<!-- NEW LINE -->
				
				<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="frontTemp" data-view="Sttemp" data-title="Front Door" data-device="Front Door"/>
				</li>
				
				<!-- NEW LINE -->
				
				<li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="presence3" data-view="Stpresence" data-title="Adam Other Sensor" data-device="Adams Arrival Sensor"/>
				</li>
			</ul>
		</div>
		