<% content_for :title do %>Adam's House<% end %>

		<div class="gridster">
			<ul>
				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="clock" data-view="Clock"/>
				</li>

				<li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
					<div data-id="weather" data-view="Stweather"/>
				</li>

				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="frontMainLight" data-view="Stdimmer" data-title="Front Room Light" data-device="Fromt room"/>
				</li>
				
				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="frontSideLight" data-view="Stdimmer" data-title="Side Light" data-device="Downstairs lamp"/>
				</li>		

				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="upstairsTempt" data-view="Sttemp" data-title="Upstairs" data-device="Stair Sensor"/>
				</li>

				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="mode" data-view="Stmode" data-title="Current Mode"/>
				</li>

				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="30"/>
				</li>
				
				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="foursquare" data-changemode="WFH" data-phrase="Work From Home" data-countdown="30"/>
				</li>

				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="frontdoorcontact" data-view="Stcontact" data-title="Front Door" data-device="Front Door"/>
				</li>

				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="presence1" data-view="Stpresence" data-title="Adam" data-device="Adam's iPhone"/>
				</li>
				
				li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="presence1" data-view="Stpresence" data-title="Steve" data-device="Stephen Richmond\'s Android"/>
				</li>

				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="usmotion" data-view="Stmotion" data-title="Stairs" data-device="Stair Sensor"/>
				</li>

				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="reload" data-view="Reload"/>
				</li>

			</ul>
		</div>

		<div class="gridster">
			<ul>
				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="text2" data-view="Text" data-text="Dashboard 2" />
				</li>
				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"/>
				</li>
				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
					<div data-id="reload" data-view="Reload"/>
				</li>
			</ul>
		</div>
		