 
<script type='text/javascript'></script>
<% content_for :title do %>Mailloux's<% end %>

		<div class="gridster">
			<ul>
				<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
					<div data-id="clock" data-view="Clock"/>
				</li>

				<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
					<div data-id="KidsTV" data-view="Stswitch" data-title="Kids TV" data-device="Kids TV"/>
				</li>
		 
         <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
					<div data-id="frontdoorcontact" data-view="Stcontact" data-title="Front Door" data-device="Front door"/>
				</li>
				
	            <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
	   					<div data-id="frontdoorcontact2" data-view="Stcontact" data-title="Garage Inside Door" data-device="Garage Inside Door"/>
	   				</li>
					
		            <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
		   					<div data-id="frontdoorcontact3" data-view="Stcontact" data-title="Sliding Door" data-device="Sliding Door"/>
		   				</li>
				<li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
					<div data-id="usmotion" data-view="Stmotion" data-title="Main Floor" data-device="Main Floor Motion"/>
				</li>

				<!-- NEW LINE -->

				<li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
					<div data-id="weather" data-view="Stweather"/>
				</li>

		 
 

				<li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
					<div data-id="mainfloorsense" data-view="Sttemp" data-title="Main Floor" data-device="Main Floor Motion"/>
				</li>

				<li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
					<div data-id="reload" data-view="Reload"/>
				</li>

		 

				<li data-row="3" data-col="5" data-sizex="2" data-sizey="1">
					<div data-id="mode" data-view="Stmode" data-title="Current Mode"/>
				</li>

	 
							
				<li data-row="4" data-col="5" data-sizex="2" data-sizey="1">
					<div data-id="cpage1" data-view="Changepage" data-icon="arrow-right" data-title="Sensors" data-page="3" data-stagger="false" data-fasttransition="true"/>
				</li>
			</ul>
		</div>
 
	 